# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.MIDI-Keyboard.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\S.K.L\Documents\_code\.NET C#\MIDI-Keyboard\.idea\.idea.MIDI-Keyboard\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
